/* reset styli */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* kolory */
:root {
  --font: Roboto;
  --primary-color: #1e2127;
  --hr-color: #e3e4e6;
  --article-color: #2c303a;
  --btn-color: #0a090c;
  --text-color: #e3e4e6;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font);
}

/* header */
.header {
  max-height: 50vh;
  overflow: hidden;
}

.slogan img {
  width: 100%;
}

.slogan i {
  position: fixed;
  top: 25px;
  right: 25px;
  transform: scale(2.2);
  color: var(--btn-color);
  z-index: 1;
}

/* main */
.article {
  background-color: var(--article-color);
  height: 450px;
  margin: 15px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.imgArticle {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h2.labelArticle,
.labelArticleTwo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 12px 20px 12px;
  color: var(--text-color);
  font-size: 25px;
}

p.descriptionArticle,
.descriptionArticleTwo {
  position: absolute;
  top: 55%;
  padding: 0 12px;
  color: var(--text-color);
  font-size: 17px;
}

h2.labelArticleTwo {
  font-size: 24px;
}

p.descriptionArticleTwo {
  font-size: 17px;
}

.firstArticle {
  margin-top: 100px;
  margin-bottom: 50px;
}

.secondArticle {
  margin-top: 50px;
  margin-bottom: 50px;
}

div.pauseBetween {
  position: relative;
  width: 100%;
  height: 50px;
}

.hrArticleOne {
  position: absolute;
  background-color: var(--hr-color);
  border: none;
  height: 2px;
  width: 25%;
  top: 25px;
  left: 10px;
  transform: translateY(-50%);
}

.hrArticleTwo {
  position: absolute;
  background-color: var(--hr-color);
  border: none;
  height: 2px;
  width: 25%;
  top: 25px;
  right: 10px;
  transform: translateY(-50%);
}

.btnArticle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--btn-color);
  border-radius: 999px;
  box-shadow: var(--btn-color) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* footer */
footer {
  margin: 50px 15px;
  text-align: center;
  color: var(--text-color);
}

footer i {
  margin-top: 40px;
  transform: scale(2.5);
}
